<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header') %>
<body>
    <%- include('./partials/nav') %>

    <ul class="cards">
      <li class="card">
        <img src="/img/gomamon.jpg" alt="gomamon">
        <h4>Gomamon</h4>
        <p>ゴマモン</p>
      </li>
      <li class="card">
        <img src="/img/palmon.jpg" alt="palmon">
        <h4>Palmon</h4>
        <p>パルモン</p>
      </li>
      <li class="card">
        <img src="/img/patamon.jpg" alt="patamon">
        <h4>Patamon</h4>
        <p>パタモン</p>
      </li>
      <li class="card">
        <img src="/img/piyomon.jpg" alt="piyomon">
        <h4>Piyomon</h4>
        <p>ピヨモン</p>
      </li>
      <li class="card">
        <img src="/img/tailmon.jpg" alt="tailmon">
        <h4>Tailmon</h4>
        <p>テイルモン</p>
      </li>
      <li class="card">
        <img src="/img/tentomon.jpg" alt="tentomon">
        <h4>Tentomon</h4>
        <p>テントモン</p>
      </li>
    </ul>


    <%- include('./partials/footer') %>
</body>
</html>