<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header') %>
<body>
    <%- include('./partials/nav') %>
    
    <main>
      <figure>
        <img src="/img/homebg.jpg" alt="gabumon">
      </figure>
      <article>
        <h2>Main Digimons</h2>
        <h3>For Digidestined</h3>
        <a href="/cards" class="btn">View Digimons</a>
      </article>
    </main>

    <%- include('./partials/footer') %>
</body>
</html>